<div id="main">
  <h1>{{title}}</h1>
  <p>Choose from our amazing destinations:</p>
  <ul>
    <li>Bali, Indonesia</li>
    <li>Paris, France</li>
    <li>Cape Town, South Africa</li>
  </ul>
</div>

